<template>
  <div class="md-layout text-center">
    <div
      class="md-layout-item md-size-50 md-medium-size-50 md-small-size-100 md-xsmall-size-100"
    >
      <md-card>
        <md-card-content>
          <span class="material-icons md-48 text-success">
            task_alt
          </span>
          <h2 class="title text-black">
            <b>
              {{ this.$S_i18n.t("BF_REGISTER_CONFIRMATION_TITLE") }}
            </b>
          </h2>
          <p class="text-center">
            {{ this.$S_i18n.t("BF_REGISTER_CONFIRMATION_SUBTITLE") }}
          </p>
          <div class="action">
            <md-button class="md-round md-success mt-4" @click="ResendEmail()">
              <md-icon>
                markunread
              </md-icon>
              {{ this.$S_i18n.t("BF_REGISTER_CONFIRMATION_BUTTON") }}
            </md-button>
          </div>
        </md-card-content>
      </md-card>
    </div>
  </div>
</template>

<script>
import Swal from "sweetalert2";
import $ from "jquery";
export default {
  components: {},
  data() {
    return {
      email: "",
      email_sent: false,
      error_submit: false,
      error_empty_email: false
    };
  },
  methods: {
    reset() {
      this.error_submit = false;
      this.error_empty_email = false;

      if (this.email == "") {
        this.error_empty_email = true;
        return;
      }

      this.$BF_Services.data = { email: this.email };

      this.$BF_Services.password_reset();

      this.email_sent = true;
    },
    ResendEmail() {
      //@JAVI aquí falta llamar la función para que vuelva a enviar el email
      this.showSwal("auto-close");
    },

    showSwal(type) {
      if (type === "auto-close") {
        Swal.fire({
          title: "✅",
          text: this.$S_i18n.t("BF_REGISTER_CONFIRMATION_ALERT"),
          timer: 3000,
          showConfirmButton: false
        });
      }
    }
  }
};
</script>
<style scoped></style>
